@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Send+Flowers&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

img#profile {
    @apply w-[550px] h-auto;
}

div.fishes {
    @apply fixed -z-0 overflow-hidden top-[100%] w-[300px] h-[300px] bg-[url(./assets/fishes/Fishes1.png)] bg-contain bg-no-repeat;
}

section.about-me {
    --bg-color: rgb(230, 255, 255);
    @apply w-full h-screen flex justify-center items-center bg-[var(--bg-color)];
}

h2.small-intro {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    @apply flex items-end gap-2;
}

span.name-container {
    @apply w-45 flex justify-center pt-[5px] mb-2.5 bg-blue-600;
}

span.name {
    @apply text-[50px] px-2.5 text-white mb-1.5;
}

p.description {
    @apply text-blue-600 font-medium font-[Ubuntu] text-base;
}